@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Roboto&display=swap');
h1, h2, h3, h4, .navbar-brand{
    font-family: 'Nanum Gothic';
}

body{
    font-family: 'Nanum Gothic';
    background-color: #90CAF9;
}

.navbar{
    border-bottom: #1E88E5 3px solid;
}